# generated
/artefacts/

# vendor files
/vendor/

# ide files
.settings
.project
.buildpath
nbproject

# temp/os files
.DS_Store
.AppleDouble
.AppleDB
.AppleDesktop
.LSOverride
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
$RECYCLE.BIN
Desktop.ini
._*
*~
*.swp
*.out